* {
  margin: 0;
  padding: 0;
}

/* Shared Styles */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark-1 {
  color: #252432;
}

.dark-2 {
  color: #8987a1;
}

.dark-3{
  color:#7b7c80;
}

.dark-4{
  color:#111111;
}

.bg{
  background-color: #f5f8ff;
}

.heading{
  font-weight: bold;
  font-size: 4.0625rem;
  color:#e95a08;
  margin-bottom: 13px;
}

.heading span{
  color:#000;
}

.description{
  font-size: 1.375rem;
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

/* Navbar */

nav {
  width: 100%;
  max-width: 1140px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:30px;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-weight: 500;
}

.cart a{
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Banner Section */

.banner{
  max-width: 1140px;
  display: flex;
}

.left-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 570px;
}

.right-container{
  max-width: 570px;
}

.right-container img{
  width: 100%;
}

/* Main */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

/* Plants Section */

.plants{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 210.13px;
}

.plants-heading{
  color:#000;
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.plants-heading span{
  color:#e95a08;
}

.plants-description{
  text-align: center;
  font-size: 1.375rem;
  margin-bottom: 49px;
  max-width: 888px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 270px;
}

.card-image{
  width: 100%;
  margin-bottom: 30px;
}

.name{
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.price{
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn-primary{
  width: 100%;
  height: 50px;
  background-color: #e95a08;
  color:white;
  font-weight: 600;
  border:none
}

/* Plants Lover Section */

.plants-lover{
  display: flex;
  justify-content: center;
  gap:60px;
  margin-bottom: 133.38px;
}

.pl-left{
  position: relative;
}
.pl-image{
  width: 100%;
}

.pl-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
}

.pl-heading{
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.pl-list{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap:20px;
}

.trusted{
  position: absolute;
  width: 100%;
  max-width: 286px;
  margin-left: -190px;
  margin-top: -130px;
}

/* Latest Deals Section */

.latest-deal{
  margin-bottom: 120px;
}

.latest-heading{
  color:#000;
  font-weight: bold;
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 16px;
}

.latest-heading span{
  color:#e95a08;
}

.latest-description{
  width: 100%;
  max-width: 888px;
  text-align: center;
  font-size: 1.375rem;
}

/* Discount Section */

.discount{
  display: grid;
  grid-template-columns:1fr 2fr;
  width: 100%;
  max-width: 1140px;
  gap:28px;
  color:white;
  margin-bottom: 120px;
}

.discount a{
  color: white;
}

.left-container-2{
  display: flex;
  flex-direction: column;
  gap:25px;
}

.first{
  width: 100%;
  max-width: 367px;
  height: 201px;
  border:none;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first p{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 19px;
  max-width: 270px;
}

.first a{
  font-weight: 600;
  text-underline-offset: 4px;
}

.second p{
  font-weight: bold;
  max-width: 498px;
  font-size: 2.5rem;
  text-underline-offset: 4px;
  margin-bottom: 15px;
}

.second a{
  font-size: 1.75rem;
  font-weight: 600;
  text-underline-offset: 6px;
}

.one{
  background-image: url(/assets/deal-bloom.png);
  background-repeat: no-repeat;
}

.two{
  background-image: url(/assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size:cover;
}

.second{
  width: 100%;
  max-width: 753px;
  height: 423.12px;
  background-image: url(/assets/deal-zabo.png);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Media Queries */

@media screen and (max-width:576px) {

  /* Header Section */

  header{
    max-width: 100%;
  }

  /* Navbar */

  nav{
    width: 100%;
    max-width: 361px;
    margin:13px 0px 28px 0px;
    justify-content: space-between;
  }

  ul{
    flex-direction: row;
    gap:0px;
  }

  .home,.shop,.aboutus{
    display: none;
  }

  nav img{
    width:63px;
    height: 38px;
  }
  
  /* Banner Section */

  .banner{
    flex-direction: column-reverse;
    gap:28px;
    align-items: center;
  }

  .heading{
    font-size: 1.5rem;
  }

  .description{
    font-size: 0.875rem;
  }

  /* Plants Section */

  .plants-heading{
    font-size: 1.5rem;
  }

  .plants-description{
    font-size: 0.875rem;
    margin-bottom: 28px;
    max-width: 336px;
  }

  .card-container{
    grid-template-columns: repeat(2,1fr);
    row-gap: 29.5px;
  }

  .card{
    max-width: 171px;
  }

  /* Plants Lover Section */

  .trusted{
    display: none;
  }

  .plants-lover{
    flex-direction: column;
    gap:18px;
    align-items: center;
    margin-bottom: 143px;
  }

  .pl-image{
    max-width: 358px;
  }

  .pl-heading{
    font-size: 1.5rem;
  }

  .pl-right{
    max-width: 361px;
  }

  /* Latest Deals Section */

  .latest-deal{
    margin-bottom: 51.5px;
  }

  .latest-description{
    font-size: 0.875rem;
    max-width: 336px;
  }

  /* Discount Section */

  .discount{
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .first,.second{
    max-width: 367px;
    height: 201px;
  }

  .left-container-2{
    align-items: center;
  }

  .second{
    justify-self: center;
  }

  .first p,.second p{
    max-width: 270px;
    font-size: 1.25rem;
    margin-bottom: 19px;
  }

  .first a,.second a{
    max-width: 79px;
    font-size: 1rem;
    text-underline-offset: 4px;
  }

  .first p{
    margin-bottom: 19px;
  }
}