* {
  margin: 0;
  padding: 0;
}

/* Shared Styles */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dark-1 {
  color: #252432;
}

.dark-2 {
  color: #8987a1;
}

.dark-3{
  color:#7b7c80;
}

.dark-4{
  color:#111111;
}

.bg{
  background-color: #f5f8ff;
}

.heading{
  font-weight: bold;
  font-size: 4.0625rem;
  color:#e95a08;
  margin-bottom: 13px;
}

.heading span{
  color:#000;
}

.description{
  font-size: 1.375rem;
}

button,a{
  cursor: pointer;
}

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

/* Navbar */

nav {
  width: 100%;
  max-width: 1140px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:30px;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

nav ul li a{
  text-decoration: none;
  font-weight: 500;
}

.cart a{
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Banner Section */

.banner{
  max-width: 1140px;
  display: flex;
}

.left-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 570px;
}

.right-container{
  max-width: 570px;
}

.right-container img{
  width: 100%;
}

/* Main */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Plants Section */

.plants{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 210.13px;
}

.plants-heading{
  color:#000;
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.plants-heading span{
  color:#e95a08;
}

.plants-description{
  text-align: center;
  font-size: 1.375rem;
  margin-bottom: 49px;
  max-width: 888px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 270px;
}

.card-image{
  width: 100%;
  margin-bottom: 30px;
}

.name{
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.price{
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn-primary{
  width: 100%;
  height: 50px;
  background-color: #e95a08;
  color:white;
  font-weight: 600;
  border:none
}

/* Plants Lover Section */

.plants-lover{
  display: flex;
  justify-content: center;
  gap:60px;
  margin-bottom: 133.38px;
}

.pl-left{
  position: relative;
}
.pl-image{
  width: 100%;
}

.pl-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 540px;
}

.pl-heading{
  font-size: 3.125rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.pl-list{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  gap:20px;
}

.trusted{
  position: absolute;
  width: 100%;
  max-width: 286px;
  margin-left: -190px;
  margin-top: -130px;
  animation: infinite linear 10s spin;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

/* Latest Deals Section */

.latest-deal{
  margin-bottom: 120px;
}

.latest-heading{
  color:#000;
  font-weight: bold;
  font-size: 3.125rem;
  text-align: center;
  margin-bottom: 16px;
}

.latest-heading span{
  color:#e95a08;
}

.latest-description{
  width: 100%;
  max-width: 888px;
  text-align: center;
  font-size: 1.375rem;
}

.discount{
  display: grid;
  grid-template-columns:1fr 2fr;
  width: 100%;
  max-width: 1140px;
  gap:28px;
  color:white;
  margin-bottom: 120px;
}

.discount a{
  color: white;
}

.left-container-2{
  height: 423px;
  display: flex;
  flex-direction: column;
  gap:25px;
}

.first{
  width: 100%;
  max-width: 367px;
  height: 201px;
  border:none;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first p{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 19px;
  max-width: 270px;
}

.first a{
  font-weight: 600;
  text-underline-offset: 4px;
}

.second p{
  font-weight: bold;
  max-width: 498px;
  font-size: 2.5rem;
  text-underline-offset: 4px;
  margin-bottom: 15px;
}

.second a{
  font-size: 1.75rem;
  font-weight: 600;
  text-underline-offset: 6px;
}

.one{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),url("assets/deal-bloom.png");
  background-repeat: no-repeat;
}

.two{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),url("assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size:cover;
}

.second{
  width: 100%;
  max-width: 753px;
  height: 423px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),url("assets/deal-zabo.png");
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Join Section */

.join{
  width: 100%;
  height: 533px;
  background-image: linear-gradient(rgba(7, 51, 79, 0.4)),url("assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-heading{
  font-size: 3.125rem;
  color:white;
  font-weight: bold;
  margin-bottom: 23px;
}

form{
  width: 100%;
  max-width: 830px;
  display: flex;
  justify-content: center;
}

.btn-secondary{
  width:186px;
  height: 50px;
  font-weight:600;
}

.email-box{
  width: 100%;
  max-width: 644px;
  box-sizing: border-box;
  padding:15.5px 20px;
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 348px;
}

.footer-items-container{
  display: flex;
  gap:110.67px;
  justify-content: center;
  width: 100%;
  max-width: 1120px;
}

.footer-1 p{
  width: 100%;
  max-width: 359px;
  font-size: 1.375rem;
}

.footer-1 img{
  width: 100%;
  max-width: 135px;
  margin-bottom: 16px;
}

footer ul{
  list-style: none;
}

footer a{
  text-decoration: none;
  color:#6B7280;
}

footer ul{
  display: flex;
  flex-direction: column;
  gap:26px;
}

.footer-4{
  display: flex;
  gap:24px;
  width: 100%;
  max-width: 216px;
  height: 36px;
}

.footer-4 .x{
  width: 19.83px;
  height: 18px;
  padding:9px 7.92px 9px 8.25px;
}


.footer-4 img{
  width: 100%;
  max-width: 36px;
}
.footer-2{
  max-width: 85px;
}

.footer-3{
  max-width: 128px;
}


/* Media Queries */

@media screen and (max-width:576px) {

  /* Navbar */

  nav{
    width: 100%;
    max-width: 361px;
    margin:13px 0px 28px 0px;
    justify-content: space-between;
  }

  ul{
    flex-direction: row;
    gap:0px;
  }

  .home,.shop,.aboutus{
    display: none;
  }

  nav img{
    width:63px;
    height: 38px;
  }
  
  /* Banner Section */

  .banner{
    flex-direction: column-reverse;
    gap:28px;
    align-items: center;
  }

  .heading{
    font-size: 1.5rem;
  }

  .description{
    font-size: 0.875rem;
  }

  /* Plants Section */

  .plants{
    margin-bottom: 41.5px;
  }

  .plants-heading{
    font-size: 1.5rem;
  }

  .plants-description{
    font-size: 0.875rem;
    margin-bottom: 28px;
    max-width: 336px;
  }

  .card-container{
    grid-template-columns: repeat(2,1fr);
    row-gap: 29.5px;
  }

  .card{
    max-width: 171px;
  }

  .name{
    margin-bottom: 10px;
  }
  /* Plants Lover Section */

  .trusted{
    display: none;
  }

  .plants-lover{
    flex-direction: column;
    gap:18px;
    align-items: center;
    margin-bottom: 143px;
  }

  .pl-image{
    max-width: 358px;
  }

  .pl-heading{
    font-size: 1.5rem;
  }

  .pl-right{
    max-width: 361px;
  }

  /* Latest Deals Section */

  .latest-deal{
    margin-bottom: 51.5px;
  }

  .latest-description{
    font-size: 0.875rem;
    max-width: 336px;
  }

  .discount{
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    gap:20px;
  }

  .first,.second{
    max-width: 367px;
    height: 201px;
  }

  .left-container-2{
    align-items: center;
    gap:20px;
  }

  .second{
    justify-self: center;
  }

  .first p,.second p{
    max-width: 270px;
    font-size: 1.25rem;
    margin-bottom: 19px;
  }

  .first a,.second a{
    max-width: 79px;
    font-size: 1rem;
    text-underline-offset: 4px;
  }

  .first p{
    margin-bottom: 19px;
  }

  .two{
    border-radius: 0px;
  }

  /* Join Section */
  
  .join{
    height: 276px;
  }

  .join p{
    max-width: 235px;
    font-size: 1.25rem;
    margin-bottom: 23px;
  }

  form{
    max-width: 321px;
  }

  .email-box{
    max-width: 218px;
  }

  .btn-secondary{
    max-width: 103px;
  }
}

@media screen and (max-width:792px) {

  /* Footer Section */

  footer{
    height: 865px;
    align-items: center;
  }

  .footer-items-container{
    flex-direction: column;
    gap:20px;
    align-items: flex-start;
    max-width: 393px;
    padding-left:20px;
  }

  .footer-1 img{
    max-width: 180px;
  }

  .footer-1 p,.footer-2 p,.footer-3{
    font-size: 1rem;
  }
}